[git]
autoCommit = true
autoPush = true

[edit]
command = "nvim"

{{- $nvidia := promptBoolOnce . "nvidia" "Does this machine use nvidia GPU" false }}

[data]
{{ if $nvidia -}}
nvidia = true
{{- else -}}
nvidia = false
{{- end }}
{{ if eq .chezmoi.os "windows" -}}
uuid = {{ output "powershell" "-command" "[guid]::NewGuid().ToString()" | trim | quote }}
{{- else -}}
uuid = {{ output "uuidgen" | trim | quote }}
{{- end }}
